<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1 style="text-align: center;">Log In</h1>
    <section class="login_form">
        <form action="/users/login" method="post">
            <label for="username">Enter Username: </label>
            <input type="text" name="username" id="username">
            <br>
            <label for="email">Enter your email: </label>
            <input type="text" name="email" id="email">
            <br>
            <label for="password">Enter your ColoShop password: </label>
            <input type="password" name="password" id="password">
            <br>
            <button>Submit</button>
        </form>
    </section>
</body>
</html>