
*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 249, 249);
    background-color: #f5f0ed;
     background-color: #fef8f5;
} 

/* Here goes the section above the navigation bar */
#help-line{
    margin-left: 0.8rem;
}
.top-section{
    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    background-color: rgb(26, 28, 29);

    
}
.top-section ul{
    
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.top-section ul a{
    text-decoration: none;
    font-size: 1.2rem;
    /* cursor: pointer; */
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
#country{
    margin-left: 0.8rem;
    margin-right: 0.4rem;
}
.top-section-left{
    /* margin-right: 15rem; */
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.top-section-right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* background-color: lightgreen; */
}








/* Here goes the section of navigation bar */



.nav-bar{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* position: sticky; */
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; required */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
.logo{
   
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}   
.logo:hover{
    cursor: pointer;
}
.logo span{
    color: red;
}
.nav-bar-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
.nav-bar-items a{
    text-decoration: none;
    padding: 1rem;
    margin-top: 0.7rem;
    text-align: center;
    font-weight: 550;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    color: rgb(3, 3, 92);
}

.nav-bar-items a:hover{
  color: rgb(197, 197, 197);

}

#icons{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}

#icons i{
    margin: 0px 4px;
}



/* from here the container starts having the background image. */
.container{
    background-color: rgb(26, 28, 29);
    background: url('../images/sb.jpg') no-repeat center center/cover ;
    /* background:rgb(26, 28, 29); */
    /* background-image: url('//images/sb.jpg'); */
    width: 100%;
    height: 900px;
    opacity: 0.8;
    position: relative;
    top: 0;  
}

.text-box{

    position: absolute;
    top: 3rem;
    right: 4rem;
}

.text-box p{
    font-size: 2.5rem;
    margin-top: 0;
    font-weight: 700;
    font-family: 'Satisfy', cursive;
}

.text-box h1{
    font-family: 'Farro', sans-serif;
    font-size: 4rem;
    margin-top: 0;
    font-weight: 700; 
}

.box-2{
    position: relative;
    top: 20rem;
    left: 3rem;
    display: inline-block;
}

.box-2 span{
    display: inline-block;
    margin-bottom: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.box-2 button{
    border: none;
    padding: 16px 30px;
    /* background-color: rgb(51, 3, 17);
    background-color: #ffb703; */
    background-color: rgb(245, 36, 36);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;  
}

.box-2 button:hover{
    animation-name: box-2-button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes box-2-button {
    from {
        background-color:rgb(245, 36, 36);
    }

    to {
        background-color: #ced3d3;
        color: black;
    }
}


/* Here goes the shop by category section */
.shop-by-category-header{
    margin: 5rem 3rem;
    text-align: center;

}

.shop-by-category-header h3{
    font-size: 3rem;
}

.shop-by-category{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    /* margin: 10rem 3rem; */
    text-align: center;

}
.shop-by-category-women img{
    /* background-color: yellow; */
    border-radius: 5px;
    cursor: pointer;
}

.shop-by-category-Accessories img {
    /* background-color: blueviolet; */
    border-radius: 5px;
    cursor: pointer;

    
}
.shop-by-category-men img{
    /* background-color: orange; */
    border-radius: 5px;
    cursor: pointer;

}

.shop-by-category button{
    text-align: center;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.shop-by-category button:hover{
    animation-name: shop-by-category-button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes shop-by-category-button {
    from {
        background-color: black;
    }
    
    to{
        /* background-color: rgb(245, 36, 36); */
        background-color: #4cc9f0;
    }
}


.new-arrivals{
    margin: 8rem 3rem;
    text-align: center;
}

.new-arrivals-header h3{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.new-arrivals-header hr{
    width: 10%;
    border: 2px solid orange;
    /* height: 1px; */
    background-color: orange;
}

.new-arrivals-filter{
    text-align: center;
    padding: 20px;
}

.new-arrivals-filter ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.new-arrivals-filter ul button{
    margin: auto 0.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(245, 36, 36); 
    
}

.new-arrivals-filter ul button:hover{
    animation-name: arr3;
    animation-duration: 1s;
}
@keyframes arr3 {
    from{
        background-color: rgb(245, 36, 36);
    }
    
    to {
        background-color: rgb(253, 66, 66);
    }
}


.display-new-arrivals{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap; */
    margin: auto 8rem;
    /* border: 2px solid black; */
}


.display-new-arrivals .display-clothes img{
    width: 100%;
}
.display-clothes{
    /* border: 5px solid black; */
    /* background-color: lightgray; */
    border-radius: 5px;
    max-width: 300px;
    /* flex-basis: 30%; */
    margin-top: 3rem;
}
.display-clothes .star{
    margin-top: 1rem;
}

.Subscribe-news-latter{
    background-color: rgb(114, 220, 255);
    /* border: 2px solid black; */
    border-radius: 5px;
    margin: 8rem 5rem;
    /* height: 300px; */
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    /* padding: 16px 30px; */
    background: url('../images/joe-woods-4Zaq5xY5M_c-unsplash.jpg') no-repeat center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.news-letter-text{

}
.news-letter-text h2{
    font-size: 2.5rem;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.news-letter-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    /* margin: 0; */
}

.form-subscribe-news-letter{
   margin-top: 4rem;
}
.form-subscribe-news-letter form button{
    
    border: none;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 0.8rem;
    
}

.form-subscribe-news-letter form button:hover{
    
   /* background-color: c; */
   background-color: rgb(238, 191, 191);
}

input[type=email]{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    background-color: rgb(199, 197, 197);
    
   
}


.features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin: 8rem 8rem;
    border-radius: 5px;
    flex-wrap: wrap;
    /* background-color: white; */
    /* background-color: #2577fd; */
    /* background-color: #007bff; */
    /* background-color: #007bff; */
    
    
}
.features i{
    font-size: 3rem;
    color: #4cc9f0;
    color: blue;
}

.features .free-shipping, .features .secure-payment, .features .refund-policy{
    text-align: left;
    /* background-color: yellow; */
    background-color: pink;
    flex-basis: 27%;
    border-radius: 5px;
    background-color: #ebefef;
    padding: 2rem 1rem;
    /* position: relative; */

}


.features .free-shipping:hover{
    cursor: pointer;
    /* position: relative;
    animation-name: arr4;
    animation-duration: 1s; */
}

.features .secure-payment:hover{
    cursor: pointer;
    /* position: relative;
    animation-name: arr4;
    animation-duration: 1s; */
}

.features .refund-policy:hover{
    cursor: pointer;
    /* position: relative;
    animation-name: arr4;
    animation-duration: 1s; */
}
/* @keyframes arr4 {
    from{
        background-color: #ebefef;
        

    }
    to{
        background-color:#4cc9f0;
        color: white; 
        width: 10px;
    }
    
} */

.features h3{
    font-size: 1.5rem;
    /* background-color: pink; */
}

.collections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10rem 5rem;
}
.collections-img{
    max-width: 250px;
    flex-basis: 19%;
}
/* .collections-img img{
    width: 100%;
} */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 8rem 5rem; */
    background-color: #333533;
    background-color: #262626;
    color: white;
}

.company{
    flex-basis: 20%;
}
.quick-links h3{
    /* margin-left: 2.2rem; */
}

.quick-links a{
    line-height: 2;
    font-size: 1rem;
    color: white;
}

.new-products a{
    line-height: 2;
    font-size: 1rem;
    color: white;
}
.support a{
    line-height: 2;
    font-size: 1rem;
    color: white;

}
.footer ul{
    list-style: none;

}
.footer ul a{
    text-decoration: none;
}

.heart{
    color: red;
}


@media screen and (max-width:800px) {
    .container{
        height: 500px;
    }
    .nav-bar{
        width: 100%;
        flex-direction: column;
    }
    .nav-bar-items{
        flex-direction: column;
    }
    .display-new-arrivals{
        grid-template-columns: 100px;
    }
    .display-clothes img{
        /* width: 10%; */
        width: 100%;
    }
    .shop-by-category{
        flex-direction: column;
    }
    .collections{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .features{
        flex-direction: column;
    }
    /* .free-shipping{
        flex-basis: 50%;
    } */
}
